:root {
  --primary-font-family: "Montserrat", sans-serif;
  --logo-font-family: "Russo One", sans-serif;
  --primary-text-color: #000000;
  --title-text-color: #212121;
  --accent-text-color: rgb(230, 57, 70);
  --accent-bg-color: #2f303a;
  --icon-fill: #afb1b8;
  --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(110%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(110%);
  }
}
@-webkit-keyframes text {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@-webkit-keyframes pulse-2 {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(105%);
  }
}
@keyframes pulse-2 {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(105%);
  }
}
@media screen and (min-width: 320px) {
  @-webkit-keyframes slidegdz {
    0% {
      width: 10px;
    }
    100% {
      width: 249px;
    }
  }
  @keyframes slidegdz {
    0% {
      width: 10px;
    }
    100% {
      width: 249px;
    }
  }
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  font-family: var(--primary-font-family);
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media screen and (min-width: 320px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 320px) {
  .section-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2272727273;
    text-transform: uppercase;
    color: var(--accent-text-color);
    margin-bottom: 40px;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21875;
    margin-bottom: 70px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo__link {
  font-weight: 700;
  font-size: 34px;
  line-height: 0.5294117647;
  font-family: var(--logo-font-family);
  color: #252422;
  display: inline-block;
}

.logo__link--span {
  color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .logo__link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.site-nav__list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .site-nav {
    align-items: center;
    margin-left: auto;
  }
  .site-nav__list {
    display: flex;
    align-items: center;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
    color: var(--title-text-color);
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: color 250ms var(--primary-cubic-bezier);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-text-color);
  }
}
.hero__container {
  position: relative;
}

@media screen and (min-width: 320px) {
  .hero {
    background-color: var(--accent-bg-color);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/hero/mobile-hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 161px;
    padding-bottom: 140px;
  }
  .hero__text-container {
    display: flex;
    text-align: center;
    padding: 20px 8px;
    background-color: rgba(188, 188, 188, 0.8);
  }
  .hero__title {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.1818181818;
    text-transform: uppercase;
    text-align: center;
    margin-right: 16px;
    color: #000000;
  }
  .hero__title--span {
    display: block;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.225;
    -webkit-animation: pulse-2 1200ms linear 200ms infinite alternate;
            animation: pulse-2 1200ms linear 200ms infinite alternate;
  }
  .hero__bth-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__bth {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    transition: fill 250ms var(--primary-cubic-bezier);
  }
  .hero__bth:hover .hero__bth-video-icon, .hero__bth:focus .hero__bth-video-icon {
    fill: var(--accent-text-color);
  }
  .hero__bth-video-icon {
    fill: #D9D9D9;
    stroke: none;
  }
  .hero__bth-video-link {
    width: 100%;
    height: 100%;
  }
  .hero__bth-video-text {
    display: block;
    text-align: start;
    width: 65px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.1;
    color: #D9D9D9;
  }
  .request__btn {
    position: absolute;
    right: 5%;
    bottom: -120%;
    display: block;
    width: 249px;
    height: 51px;
    padding: 18px 11px;
    background-color: rgba(188, 188, 188, 0.9);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    color: #000000;
    border: 0;
    box-shadow: 0 0 20px #555;
    -webkit-animation: slidegdz 1s forwards;
            animation: slidegdz 1s forwards;
    transition: background-color 250ms var(--primary-cubic-bezier), color 250ms var(--primary-cubic-bezier);
  }
  .request__btn:hover, .request__btn:focus {
    background-color: var(--accent-text-color);
    color: #ffffff;
  }
  .request__btn-text {
    -webkit-animation: text 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
            animation: text 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/hero-img-2.jpg");
    padding-top: 389px;
    padding-bottom: 489px;
  }
  .hero__text-container {
    width: 485px;
    padding: 40px;
  }
  .hero__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 30px;
  }
  .hero__title--span {
    font-weight: 400;
    font-size: 60px;
    line-height: 1.2166666667;
  }
  .hero__bth {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .hero__bth-video-icon {
    width: 50px;
    height: 58px;
  }
  .hero__bth-video-text {
    width: 94px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
  .request__btn {
    right: 5%;
    bottom: 30%;
    width: 330px;
    height: 60px;
    padding: 20px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 320px) {
  .quolities__list {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .quolities__item {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .quolities__item:not(:last-child) {
    margin-bottom: 35px;
  }
  .quolities__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    display: block;
    color: #000000;
  }
  .quolity__item-title {
    display: block;
    width: 290px;
  }
  .quolity__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.1818181818;
    margin-top: 15px;
  }
  .quolity__list::after {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    top: -10px;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
    -webkit-animation: pulse-2 1200ms linear 200ms infinite alternate;
            animation: pulse-2 1200ms linear 200ms infinite alternate;
  }
  .quolity__item {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .quolity__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .quolity__item-text {
    margin-top: 5px;
  }
  .quolity__item-link {
    transition: color 350ms var(--primary-cubic-bezier);
    font-weight: 700;
    font-size: 11px;
    line-height: 1.1818181818;
  }
  .quolity__item-link:hover, .quolity__item-link:focus {
    color: var(--accent-text-color);
  }
}
@media screen and (min-width: 1024px) {
  .quolities__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .quolities__item {
    width: 250px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .quolities__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }
  .quolity__list {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
    margin-top: 20px;
  }
  .quolity__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .quolity__item-link {
    transition: color 350ms var(--primary-cubic-bezier);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
  }
  .quolity__item-link:hover, .quolity__item-link:focus {
    color: var(--accent-text-color);
  }
}
@media screen and (max-width: 479px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .about {
    display: block;
    background: linear-gradient(360deg, #F1F1F1 0%, rgba(217, 217, 217, 0) 83.11%);
  }
  .about__container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
  }
  .about__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
  }
  .about__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) {
  .classes__container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .classes__course-text-container {
    display: none;
  }
  .classes__course-img-container {
    position: relative;
  }
  .classes__course-subtitle {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: block;
    color: #ffffff;
  }
}
@media screen and (min-width: 1024px) {
  .classes__course-container {
    display: flex;
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 65px;
  }
  .classes__course-container:not(:last-child) {
    margin-bottom: 70px;
  }
  .classes__course-text-container {
    width: 500px;
  }
  .section-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2083333333;
    color: #000000;
    display: block;
  }
  .classes__course-subtitle {
    top: 25px;
    left: 25px;
    background-color: rgb(188, 188, 188);
    padding: 10px;
  }
  .classes__course-img {
    transform: scale(1);
    transition: transform 350ms var(--primary-cubic-bezier);
  }
  .classes__course-img:hover {
    transform: scale(1.01);
  }
}
@media screen and (min-width: 320px) {
  .tariffs {
    text-align: center;
  }
  .tariffs-container {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .tariffs__list {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .tariffs__item {
    position: relative;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 20px;
    padding-top: 77px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .tariffs__item:not(:last-child) {
    margin-bottom: 80px;
  }
  .tariff__list {
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
  .tariff__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .tariff__btn {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background: #FFDEDE;
    border: 0;
    margin-top: 30px;
    transition: background-color 250ms var(--primary-cubic-bezier), color 250ms var(--primary-cubic-bezier);
  }
  .tariff__btn:hover, .tariff__btn:focus {
    background-color: var(--accent-text-color);
    color: #ffffff;
  }
  .tariff {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFDEDE 0%, rgba(255, 222, 222, 0) 100%);
    display: block;
    justify-content: center;
    align-items: center;
  }
  .tariff__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.225;
    color: var(--accent-text-color);
  }
  .tariff__text--small {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    display: block;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .tariffs__list {
    display: flex;
    margin-top: 140px;
  }
  .tariffs__item {
    padding-top: 115px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .tariffs__item:not(:last-child) {
    margin-right: 75px;
  }
  .tariff__list {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
  }
  .tariff__btn {
    margin-top: 50px;
  }
  .tariff {
    width: 130px;
    height: 130px;
  }
  .tariff__text {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2291666667;
  }
  .tariff__text--small {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
    display: block;
    margin-top: 20px;
  }
}
@media screen and (min-width: 320px) {
  .team-container {
    text-align: center;
  }
  .team__list {
    display: block;
    justify-content: center;
  }
  .team__item {
    background-color: #F5F5F5;
    box-shadow: 0px 4px 4px 4px rgba(230, 57, 70, 0.5);
    border-radius: 20px;
    width: 290px;
    text-align: center;
    padding-bottom: 25px;
    overflow: hidden;
  }
  .team__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .team__img {
    margin-bottom: 20px;
  }
  .team__picture-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
    margin-bottom: 8px;
  }
  .team__picture-prof {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
  }
  .team__list-name,
.team__list-name-2 {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .team-container {
    position: relative;
  }
  .team__list {
    display: flex;
    justify-content: start;
  }
  .team__item {
    background-color: #F5F5F5;
    width: 300px;
    padding-bottom: 50px;
  }
  .team__item:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0;
  }
  .team__list-name {
    display: block;
    position: absolute;
    top: 30%;
    right: 0;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
  }
  .team__list-name-2 {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 0;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
  }
  .team__list--coach {
    justify-content: end;
    margin-top: 60px;
  }
}
.contacts__container {
  display: block;
  justify-content: center;
  text-align: center;
}

.contacts__wrapper-container {
  display: flex;
  justify-content: center;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}

.contacts__address--max-wrapper {
  width: 560px;
  height: 250px;
  padding-top: 30px;
}

.contacts__address--min-wrapper {
  width: 280px;
  height: 250px;
  border-bottom: 2px solid #000000;
}

.contacts__address--min-wrapper-left {
  border-right: 2px solid #000000;
}

.contacts__wrapper-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  margin-bottom: 10px;
}

.contacts__icon {
  margin-bottom: 10px;
}

.contacts__wrapper-item {
  display: block;
}
.contacts__wrapper-item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__wrapper-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
}
.contacts__wrapper-link:hover, .contacts__wrapper-link:focus {
  color: var(--accent-text-color);
}

.contacts__social-list {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.contacts__social-item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.5);
}
.contacts__social-item:not(:last-child) {
  margin-right: 114px;
}
.contacts__social-item:hover, .contacts__social-item:focus {
  background-color: var(--accent-text-color);
}

.contacts__social-link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
}
.contacts__social-link:hover .contacts__social-icon, .contacts__social-link:focus .contacts__social-icon {
  fill: #ffffff;
}

.gallery__picture-wrapper {
  display: flex;
  text-align: end;
  align-items: flex-end;
}

.gallery__picture:not(:last-child) {
  margin-right: 55px;
}

.gallery__icon {
  fill: #000000;
}/*# sourceMappingURL=main.css.map */