@media screen and (max-width: 479px) {
    .about {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .about {
        display: block;
        }
    
    .about__container {
        display: block;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;

    }    

    .about__text {
        @include font(16px, 20px);


        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .about__container {
        padding-right: 50px;
        padding-left: 50px;

    }

    .about__text {
        @include font(18px, 22px);
    }
}

@media screen and (min-width: 1200px) {
    .about__container {
        padding-right: 200px;
        padding-left: 200px;

    }

    .about__text {
        @include font(18px, 22px);
    }
}
