

@media screen and (min-width: 320px) {    

.classes__container {
        text-align: center;
    }

    .classes__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .classes__item {
        position: relative;
        max-width: 450px;
    }

    .classes__course-subtitle {
        position: absolute;
        bottom: 15px;
        left: 15px;
        display: block;
        color: #ffffff;
        text-transform: uppercase;

    }

    .classes__desc-container {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .classes__course-img {
        width: 100%;
        height: 100%;
    }
}


@media screen and (min-width: 480px) {
    .classes__course-img {
        width: 450px;
        height: 300px;
    }
}

@media screen and (max-width: 767px) {
    .classes__list {
        flex-wrap: wrap;

    }
}

@media screen and (min-width: 768px) {
    

    .classes__item {
        max-width: 680px;
        max-height: 450px;
    }
    .classes__course-img {
        width: 100%;
        height: 100%;
    }

        
}


@media screen and (min-width: 1200px) {
    .classes {
        background: radial-gradient(50% 50% at 50% 50%, rgba(230, 57, 70, 0.5) 0%, rgba(230, 57, 70, 0) 100%);
    }

    .classes__list {
        display: block;
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    // .classes__item {
    //     &:not(:last-child) {
    //             margin-bottom: 170px;
    //         }
    // }

    .classes__course-subtitle {
        position: absolute;
        bottom: 15px;
        left: 15px;
        display: block;
        color: #ffffff;
        text-transform: uppercase;

    }

    // .classes__course-img {
    //     width: 560px;
    //     height: 330px;
    // }

    .classes__desc-container {
        display: block;
        position: absolute;
        top: 0;
        right: -60%;
        // width: 480px;
        // height: 450px;
        padding: 0 15px;
        text-align: start;
    }

    .classes__desc-title {
        display: flex;
        text-align: center;
        align-items: center;
        @include font(18px, 22px, 700);
        margin-bottom: 15px;
    }

    .classes__desc-title--circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--logo-font-family);
        @include font(28px, 34px, 700);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        color: #ffffff;
        margin-right: 15px;
    }

    .classes__desc {
        @include font(16px, 20px);
        margin-left: 65px;
        margin-bottom: 15px;
    }

    .classes__desc-time {
        margin-left: 65px;
        margin-bottom: 10px;
    }

    .classes__desc-list {
        margin-left: 65px;
    }

    .classes__desc-item {
        &:not(:last-child) {
                margin-bottom: 5px;
            }
    }
}















