@media screen and (min-width: 320px) {
    .footer {
        padding-bottom: 70px;
        position: relative;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #FFFFFF;
    }

    .logo__link--footer {
        @include font(50px, 60px, 700);
    }

    .footer__social-link {
        display: block;
        margin-bottom: 30px;
    }

    .footer__social-icon {
        display: block;
    }

    .footer__address-list,
    .footer__contacts-list {
        @include font(12px, 15px);
        margin-bottom: 30px;
    }

    .footer__address-item,
    .footer__contacts-item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .footer__address-item--color,
    .footer__contacts-item--color {
        color: var(--accent-text-color);
    }

    .footer__contacts-link,
    .footer__address-link {
        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
    }

    .footer__request-btn {
        display: block;
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 249px;
        height: 51px;
        padding: 18px 11px;
        background-color: #FFDEDE;
        @include font(12px, 15px);
        letter-spacing: 0.06em;
        color: #000000;
        border: 0;
        box-shadow: 4px 4px 4px 4px rgba(230, 57, 70, 0.5);
        animation: slidegdz 1s forwards;
    
        transition: background-color 250ms var(--primary-cubic-bezier), color 250ms var(--primary-cubic-bezier);
    
        &:hover,
        &:focus {
            background-color: var(--accent-text-color);
            color: #ffffff;
        }
    }
}