.gallery__picture-wrapper {
    display: flex;
    text-align: end;
    align-items: flex-end;
    
}

.gallery__picture {
&:not(:last-child) {
        margin-right: 55px;
    }
}

.gallery__icon {
    fill: #000000;
}