@media screen and (min-width: 320px) {
    .gallery__picture-wrapper {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
    
        }
    
    
}

@media screen and (min-width: 1024px) {
    .gallery__picture-wrapper {
            display: flex;
            text-align: end;
            align-items: flex-end;
    
        }
    .gallery__picture {
        &:not(:last-child) {
            margin-right: 55px;
        }
    }
}
