@media screen and (min-width: 320px) {
    .team-container {
        text-align: center;
    }

    .team__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: -40px 0;
    }

    .team__item {
        position: relative;
        background-color: #F5F5F5;
        box-shadow: 0px 4px 4px 4px rgba(230, 57, 70, 0.5);
        // box-shadow: 0px 4px 4px rgba(230, 57, 70, 0.5);
        border-radius: 10px;
        width: 290px;
        overflow: hidden;
        margin: 40px 0;

    }

    .team__picture-name-wrapper {
        width: 290px;
        position: absolute;
        bottom: 0;
        left: 0;
        // background-color: rgba(0, 0, 0, 0.411);
        padding: 15px;
        text-align: start;
        color: #ffffff;

    }
   
    .team__picture-name {
        @include font(18px, 22px);
        // margin-bottom: 8px;
    }

    .team__picture-prof {
        @include font(18px, 22px);
    }


        
}

@media screen and (min-width: 768px) {
    .team__list {
        margin: -20px ;
    }

    .team__item {
        margin: 20px;

       
    }

}

@media screen and (min-width: 1024px) {
    .team-container {
        position: relative;
    }

    .team__list {
        justify-content: start;
    }

    .team__item {
        background-color: #F5F5F5;
        width: 300px;

    }

    

}









