.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    // outline: 2px solid rgb(83, 71, 255);
}

// ========================== MOBILE ==========================

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

// ========================== TABLET ==========================

@media screen and (min-width: 768px) {
    .container {
        width: 768px;

    }
}

// ========================== DESKTOP ==========================

@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}



@media screen and (min-width: 1600px) {
    .container {
        width: 1600px;
        padding-left: 215px;
        padding-right: 215px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 1920px;
    }
}