:root {
    --primary-font-family: 'Montserrat', sans-serif;
    --logo-font-family: 'Russo One', sans-serif;
    --primary-text-color: #000000;
    --title-text-color: #212121;
    --accent-text-color: #E63946;
    --accent-bg-color: #2f303a;
    --icon-fill: #afb1b8;
    --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}